.input{
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #FFF;

}
.small{height: 20px;font-size: 12px;}
.medium{height: 30px;font-size: 16px;}
.large{height: 40px;font-size: 20px;}
